<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">

		<title>Register</title>
	</head>
	<body>   
      <div><br>
          <h1>REGISTER FORM</h1>
          <br>
          <form name="f1" action="" method="POST">
          <input type="text" placeholder="Enter name" name="name" required>
          <br><br>
          <input type="text" placeholder="Enter username" name="username" required>
          <br><br>
          <input type="text" placeholder="Enter email" name="email" required>
          <br><br>
          <input type="password" placeholder="Enter password" name="password" required>
          <br><br>
          <input type="password" placeholder="confirmpassword" name="confirmpassword" required>
          <br><br>
          <button>Submit</button>
          </form>
      </div>
	</body>
</html>