<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/css1.css')}}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action=""  method="POST">
        <h3>Register Here</h3>
        <input type="text" placeholder="Name" id="username" name="name">
        <input type="text" placeholder="Username" id="username" name="username">
        <input type="gmail" placeholder="Email" id="password" name="email">
        <input type="password" placeholder="Password" id="password" name="password">
        <input type="password" placeholder="ConfirmPassword" id="password" name="confirmpassword">
        <button>Register</button>
        <p>Already have an account?<a href="">Login</a></p>
    </form>
</body>
</html>
  
</body>
</html>
